body {
    margin: 50px 0px 20px 150px;
    color: #fff;
    background: #333;
}

p, li  {
    color: #ccc;
}

a  {
    color: #DC143C;
}

.pure-img-responsive 
{
    max-width: 100%;
    height: auto;
}

/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 150px;
    line-height: 1.6em;
}

.header {
	margin: 0;
	color: #fff;
	text-align: center;
	padding: 1em 2em 0;
	border-bottom: 1px solid #eee;
}

.header h1 {
	margin: 0.1em 0px;
	color: #fff;
	font-size: 3em;
	font-weight: 300;
}

.header h2 {
	font-weight: 300;
	color: #fff;
	padding: 0;
	margin-top: 0;
}

.content-subhead {
    margin: 50px 0px 20px 0px;
    font-weight: 300;
    color: #fff;
}


/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: 0px; /* "#menu" width */
    width: 150px;
    position: fixed;
    top: 0;
    left: 0px;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #000000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: #999;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #0033cc;
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #0033cc;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #1f8dd6;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
    }

/* -- Responsive Styles (Media Queries) ------------------------------------- */
/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) 
{
    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link {
        left: 150px;
    }
}

@media (max-width: 48em) 
{
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        left: 150px;
    }
}

.pure-button {
    font-family: inherit;
}
a.pure-button-primary {
    color: white;
}
